@font-face {
    font-family: "digital-7";
    src: url(digital-7.regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }

 #calculator {
    width: 350px;
    margin: 100px auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid black;
 }

#display {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    flex: 1;
    margin: 10px;
    background-color:powderblue;
    padding: 0 5px;
    flex-wrap: wrap;
}

#expression {
    min-height: 25px;
    line-height: 25px;
    font-size: 20px;
    text-align: right;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

#number {
    min-height: 55px;
    text-align: right;
    font-family: "digital-7";
    font-size: 50px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 55px;
}

 .row {
    flex: 1;
    display: flex;
 }

 .btn {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    text-align: center;
    color: white;
 }

 .btn:hover {
    opacity: 0.35;
    cursor: pointer;
 }

 .btn:nth-child(n-3) {
    background-color: black;
 }

 .btn:nth-child(4), .row:nth-child(2) > .btn {
    background-color:chocolate;
 }

 .btn.equal {
    background-color:gold;
 }